<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>spring-boot-WebSocket-点对点式-home</title>
    <link rel="stylesheet" type="text/css" value="">
</head>
<body>


<p>聊天室</p>

<form id="elijahForm">
    <textarea rows="4" cols="60" name="text"></textarea>
    <input type="submit">
</form>




<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/sockjs.min.js}"></script>
<script th:src="@{/static/js/stomp.min.js}"></script>
<script type="application/javascript">


    $('#elijahForm').submit(function (e) {
        e.preventDefault();
        var text = $('#elijahForm').find('textarea[name="text"]').val();
        sendSpittle(text);

        $('#output').append("<b style='color: #ffb774'>Send: " + text + "</b><br/>")

    });

    // 1、连接SockJS的endpoint
    var socket = new SockJS('/endpointChat');
    // 2、使用STOMP 子协议的WebSocket客户端
    stomp = Stomp.over(socket);
    // 3、连接websockst服务端 //默认的和STOMP端点连接
    stomp.connect("guest", "guest", function (frame) {
        // 4、 通过stomp.subscribe订阅/topic/getResponse目标（destination）发生的消息，后端在@SendTo定义
        stomp.subscribe("/user/queue/notifications", function (message) {
            $('#output').append("<b style='color: #ff2e71'>Received: " + message.body + "</b><br/>")
        });
    });




    function sendSpittle(text) {
         stomp.send("/chat", {}, text);
    }

   $('#stop').click(function () {
       socket.close();
   })
</script>

<div id="output"></div>

</body>
</html>

